.spinner
  .cube1
  .cube2
#map
coffee:
  window.L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa'
  awesome_markers_colors = ['red', 'darkred', 'orange', 'green', 'darkgreen', 'blue', 'purple', 'darkpuple', 'cadetblue']
  window.tram_markers = {}
  $().ready ->
    $('.spinner').hide()
    tiles = L.tileLayer('/tiles/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
     })
    southWest = L.latLng(52.0, 20.7)
    northEast = L.latLng(52.4, 21.3)
    window.map = L.map 'map', {
      layers: tiles,
      center: [52.23, 21.01],
      zoom: 13,
      minZoom: 12,
      maxZoom: 14,
      maxBounds: L.latLngBounds(southWest, northEast)
    }
    update_trams = (trams_array) ->
      # delete not tracked, old trams...
      new_tram_ids = trams_array.map((tram)-> tram.id.toString())
      Object.keys(tram_markers).forEach (tram_id) ->
        if new_tram_ids.indexOf(tram_id) == -1
          window.map.removeLayer(tram_markers[tram_id])

      # update or create trams
      trams_array.forEach (tram) ->
        if tram_markers[tram.id]
          old_tram = tram_markers[tram.id]
          if tram.latitude != old_tram.Lat || tram.longitude != old_tram.Lon
            tram_markers[tram.id].moveTo([tram.latitude, tram.longitude], 16000)
        else
          tram_markers[tram.id] = (L.Marker.movingMarker([[tram.previous_latitude, tram.previous_longitude]], [], {
            icon: L.AwesomeMarkers.icon({
              icon: 'train',
              markerColor: awesome_markers_colors[parseInt(tram.line) % (awesome_markers_colors.length - 1)]
            })
          }))
          popupHtml = "Line:"+tram.line
          popupHtml += "<br>Brigade:"+tram.brigade
          tram_markers[tram.id].addTo(window.map).bindPopup(popupHtml)
          tram_markers[tram.id].moveTo([tram.latitude, tram.longitude], 16000)

    update_trams(gon.trams)
    setInterval((->
      $.ajax(url: '/trams.json').done (trams) ->
        update_trams(trams.result)
    ), 15000)

